*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
gradle-wrapper.jar
gradlew
gradlew.bat
*.log
!gradle/wrapper/gradle-wrapper.properties
local.properties
